<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid" style="background: transparent">
  <div class="container text-center">
    <h1 class="display-3" style="font-family: 'Satisfy', cursive;">THE ENTREPRENEURSHIP BLOG</h1>
    <p class="lead">This is a platform where the entrepreneurs and aspirants can blog, read content and get inspired.</p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            The main skill of entrepreneurship is influencing the masses. A blog in its true respective serves as a medium for influencing the readers .The Skill of involving a person with the cardamom of blog is the sole representation of a mass influencer as a writer, creative writer or more generic as a content writer.<br>
    Try to influence the common ground people and learn new things from this website is the sole purpose for its creation.Enjoy blogging at <span class="text-warning"> #TheEntrepreneurhipBlog</span>
        </div>
        <div class="col-sm-6">
            <img src="/images/bill.jpg" style="margin-left: 30px;height: 210px;width:430px;">
        </div>
    </div>
</div>
<div class="container">
<a href="/blogs"><button class="btn btn-success" style="background-color: #20913e">Go To Blogs</button></a>
</div>
<%- include("partials/footer") %>