<%- include("partials/header2") %>
<div class="jumbotron jumbotron-fluid vertical-center" id="jumbotron">
  <div class="container  text-center">
    <h6 class="display-4 text-light">Introducing the new Blogger Map</h6>
    <p class="lead text-light">A platform where you can type to inspire the people all over the world !</p>
    <br>
    <a href="/blogs"><button class="btn btn-lg btn-light" id="jumbotronButton">Blog Now</button></a>
  </div>
</div>
<div class="text-center text-light">BloggerMap@2020Copywright
<%- include("partials/footer") %>